img{
    width: 200px;
    height: 320px;
}

.singlePost{
    display: flex;
    flex-direction: column;
}

button{
    width: 100px;
}

.comments{
    border: 2px solid black;
}

.heart{
    width: 40px;
    height: 40px;
}